[defaults]
timeout = 60
transport = local

[connection]
# reduces the number of sudo operations
pipelining = True

[privilege_escalation]
become = True
mecome_method = sudo
# forces sudo-rs to use a predictable prompt
become_flags = -H -S -p "password:"